:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-error: #f94a29;
  --color-info: #3558ab;
  --color-bg-primary: #fbff21;
  --color-bg-secondary: #222222;
  --color-text-active: var(--color-bg-secondary);
  --color-text-secondary: #666666;
  --color-text-placeholder: #bababa;
  --color-control-border: #e1e1e1;
  --color-control-border-focus: var(--color-bg-secondary);

  --notification-color: var(--color-white);
  --notification-bg-color: var(--color-info);

  --font-family-roboto: 'Roboto Mono', monospace;

  --transition-default: all 150ms ease;

  --app-container-padding: 40px 24px 0;

  --app-description-margin: 52px 0 43px;
  --app-description-success-margin: 152px 0 143px;
  --app-description-font-size: 28px;
  --app-description-line-height: 36px;

  --app-top-padding-y: 29px;

  --app-bottom-copyrights-margin-top: 125px;
  --app-bottom-container-padding-bottom: 29px;
  --app-bottom-description-width: auto;

  --form-main-direction: column;
  --form-main-justify: initial;

  --form-controls-order: initial;
  --form-controls-flex: 1 1 100%;

  --form-control-height: 65px;
  --form-control-border-width: 2px;
  --form-control-gap: 16px;
  --form-control-padding-x: 11px;
  --form-control-padding-y: 11px;
  --form-control-padding: var(--form-control-padding-y) 0
    var(--form-control-padding-y) var(--form-control-padding-x);

  --form-select-font-size: 20px;
  --form-select-line-height: 1.375;
  --form-select-native-right: 60px;
  --form-select-native-indicator-color: var(--color-control-border);

  --form-submit-width: 138.45px;
  --form-submit-height: var(--form-control-height);
  --form-submit-margin-bottom: initial;
  --form-submit-margin-top: initial;
  --form-submit-border-color: #333333;
  --form-submit-bg-color: var(--color-bg-secondary);
  --form-submit-font-size: 18px;
  --form-submit-line-height: 24px;
  --form-submit-order: initial;

  --form-text-top-font-size: 16px;
  --form-text-top-line-height: 32px;

  --form-text-bottom-flex: initial;
  --form-text-bottom-order: initial;

  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;

  color: var(--color-black);
  background-color: var(--color-bg-secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

input::placeholder,
input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input:-moz-placeholder {
  color: var(--color-text-placeholder);
}

/* App Layout */
.app {
  width: 100vw;
  min-height: 100vh;
}

/* IsLoading & Error */
.app-error,
.app-loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  font-family: var(--font-family-roboto);
  color: var(--color-white);
}

.app-error-title,
.app-loading {
  font-size: 2rem;
}

.app-loading {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

@keyframes rotateMove {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.1);
    opacity: 0.95;
  }
  100% {
    transform: scale(0.99);
    opacity: 0.05;
  }
}

.loading-animation {
  position: absolute;
  top: 10rem;
  transform: scale(5);
}

.loading-animation svg path:first-child {
  transform: scale(0.5);
  transform-origin: center;
  animation: pulse 2s ease-in infinite;
}

.loading-animation svg path + path {
  transform-origin: center;
  animation: rotateMove 2s ease-in-out infinite;
}

.app-error {
  position: relative;
  z-index: 1;
}
.app-error-message {
  min-width: 300px;
  padding: 24px;
  background-color: var(--color-error);
  line-height: 2;
}
/* End IsLoading & Error */

.app-container {
  margin: 0 auto;
  padding: var(--app-container-padding);
}

/* Animation for loaded content */
.app-top,
.app-bottom {
  --delay: 500ms;
  opacity: 0;
  transform: translateY(-50px) scaleZ(0.9);
  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: var(--delay);
  transition-delay: var(--delay);
}
.app-top.is-loaded,
.app-bottom.is-loaded {
  opacity: 1;
  transform: translateY(0px) scaleZ(1);
}
/* End animation for loaded content */

.app-top {
  padding-bottom: var(--app-top-padding-y);
  background-color: var(--color-bg-primary);
  /* fix for select-dropdown list */
  position: relative;
  z-index: 1;
}

.app-top-description {
  margin: var(--app-description-margin);
  font-family: var(--font-family-roboto);
  font-size: var(--app-description-font-size);
  line-height: var(--app-description-line-height);
}

.app-top-description.is-success {
  margin: var(--app-description-success-margin);
}

.app-bottom {
  background-color: var(--color-bg-secondary);
  color: var(--color-white);
  font-weight: 500;
}

.app-bottom .app-container {
  padding-bottom: var(--app-bottom-container-padding-bottom);
}

.app-bottom-description {
  width: var(--app-bottom-description-width);
  font-size: 18px;
  line-height: 29px;
}

.app-bottom-description p {
  margin-bottom: 44px;
}

.app-bottom-copyrights {
  margin-top: var(--app-bottom-copyrights-margin-top);
  text-align: right;
  font-size: 14px;
  line-height: 28px;
}

/* Form elements */
.form-text-top {
  margin-bottom: var(--form-control-gap);
  font-size: var(--form-text-top-font-size);
  line-height: var(--form-text-top-line-height);
}

.form-text-bottom {
  flex: var(--form-text-bottom-flex);
  order: var(--form-text-bottom-order);
}

.form-text-bottom,
.form-text-bottom a {
  color: var(--color-text-secondary);
  font-family: 'Inter';
  font-weight: 400;
  line-height: 12px;
  line-height: 140%;
}

.form-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: var(--form-main-direction);
  justify-content: var(--form-main-justify);
  gap: var(--form-control-gap);
}

.form-controls {
  order: var(--form-controls-order);
  flex: var(--form-controls-flex);
}

.form-control-panel {
  width: 100%;
  margin-bottom: var(--form-control-gap);
}

/* Form controls & selector */
.form-control,
.form-select-native,
.form .form-select__control {
  width: 100%;
  height: var(--form-control-height);
  padding: var(--form-control-padding);
  background-color: var(--color-white);
  border-width: var(--form-control-border-width);
  border-style: solid;
  border-color: var(--color-control-border);
  border-radius: 8px;
  font-family: var(--font-family-roboto);
  font-weight: 400;
  font-size: var(--form-select-font-size);
  line-height: var(--form-select-line-height);
  transition: var(--transition-default);
}

.form-control:focus,
.form-select-native:focus,
.form .form-select__control:focus,
.form .form-select__control.form-select__control--is-focused,
.form-control:hover,
.form-select-native:hover,
.form .form-select__control:hover {
  border-color: var(--color-control-border-focus);
  outline: none;
  box-shadow: none;
}

/* Select native */
.form-select-native {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.form-select-native:hover,
.form-select-native:focus {
  --form-select-native-indicator-color: var(--color-control-border-focus);
}

.form-select-native__container {
  position: relative;
}

.form-select-native__container::before {
  content: '';
  position: absolute;
  top: var(--form-control-gap);
  right: var(--form-select-native-right);
  width: 2px;
  height: calc(100% - var(--form-control-gap) * 2);
  background-color: var(--form-select-native-indicator-color);
}

.form-select-native__container::after {
  --indicator-size: 8px;

  content: '';
  position: absolute;
  top: 50%;
  right: calc(var(--form-select-native-right) / 2 - var(--indicator-size) / 2);
  transform: translateY(-50%) rotate(-45deg);
  width: var(--indicator-size);
  height: var(--indicator-size);
  border-left: var(--form-control-border-width) solid var(--color-bg-secondary);
  border-bottom: var(--form-control-border-width) solid
    var(--color-bg-secondary);
}
/* End Select native */

.form .form-select__indicator-separator {
  background-color: var(--color-control-border);
  transition: var(--transition-default);
}

.form
  .form-select__control.form-select__control--is-focused
  .form-select__indicator-separator,
.form .form-select__control:focus .form-select__indicator-separator,
.form .form-select__control:hover .form-select__indicator-separator {
  background-color: var(--color-control-border-focus);
}

/* fix 'react-seletc' component styles */
.form .form-select__value-container,
.form .form-select__placeholder,
.form .form-select__indicator-separator,
.form .form-select__indicator {
  transition: var(--transition-default);
}
.form .form-select__value-container,
.form .form-select__placeholder,
.form .form-select__indicator-separator {
  margin: 0;
  padding: 0;
}
.form .form-select__indicator {
  padding-left: var(--form-control-padding-x);
  padding-right: var(--form-control-padding-x);
  color: var(--color-control-border-focus);
}
.form .form-select__indicator:hover {
  color: inherit;
}
.form .form-select__menu {
  padding: 27px 17px;
  border-color: var(--color-control-border-focus);
  border-width: var(--form-control-border-width);
  border-style: solid;
  box-shadow: none;
}
.form .form-select__option {
  color: var(--color-text-active);
  font-family: var(--font-family-roboto);
}
.form .form-select__option:hover,
.form .form-select__option--is-focused,
.form .form-select__option--is-selected {
  background-color: var(--color-bg-primary);
}
/* End of fix */

.form-submit {
  width: var(--form-submit-width);
  height: var(--form-submit-height);
  margin-bottom: var(--form-submit-margin-bottom);
  margin-top: var(--form-submit-margin-top);
  order: var(--form-submit-order);
  border-radius: 50px;
  border: var(--form-control-border-width) solid var(--form-submit-border-color);
  background-color: var(--form-submit-bg-color);
  color: var(--color-white);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: var(--form-submit-font-size);
  line-height: var(--form-submit-line-height);
  transition: var(--transition-default);
}

.form-submit:hover,
.form-submit:active {
  --form-submit-bg-color: var(--color-white);
  color: var(--color-text-active);
}

/* Notifications */
.notification {
  position: fixed;
  z-index: 10;
  top: var(--app-top-padding-y);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 24px;
  border-radius: 10px;
  background-color: var(--notification-bg-color);
  color: var(--notification-color);
  font-family: var(--font-family-roboto);
  font-size: var(--form-text-top-font-size);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25);
}
.notification-error {
  --notification-bg-color: var(--color-error);
  --notification-color: var(--color-white);
}
.notification-close {
  --size: 32px;
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: calc(var(--size) / -2);
  right: calc(var(--size) / -2);
  border-radius: 50%;
  border: 2px solid var(--notification-bg-color);
  background-color: var(--notification-color);
  color: var(--notification-bg-color);
}
/* End Notifications */

@media screen and (min-width: 744px) {
  :root {
    --app-container-padding: 80px 40px 0;

    --app-top-padding-y: 100px;

    --app-description-margin: 100px 0 52px;
    --app-description-font-size: 38px;
    --app-description-line-height: 49px;

    --app-bottom-copyrights-margin-top: 146px;
    --app-bottom-container-padding-bottom: 35px;

    --form-main-direction: row;
    --form-main-justify: space-between;

    --form-control-height: 100px;
    --form-control-gap: 20px;
    --form-control-padding-x: 35px;
    --form-control-padding-y: 11px;

    --form-select-font-size: 28px;
    --form-select-line-height: 1.75;
    --form-select-native-right: 95px;

    --form-submit-width: 213px;
    --form-submit-font-size: 24px;
    --form-submit-line-height: 32px;

    --form-text-bottom-flex: 0 1 45%;

    --form-text-top-font-size: 20px;
    --form-text-top-line-height: 40px;
  }
}

@media screen and (min-width: 1140px) {
  :root {
    --app-bottom-description-width: 904px;

    --app-top-padding-y: 50px;

    --app-description-margin: 110px 0 52px;
    --app-description-success-margin: 286px 0 195px;
    --app-description-font-size: 54px;
    --app-description-line-height: 70px;

    --form-main-justify: start;

    --form-controls-order: 1;
    --form-controls-flex: 0 1 785px;

    --form-submit-order: 2;
    --form-submit-margin-bottom: var(--form-control-gap);
    --form-submit-margin-top: 7.5rem;

    --form-text-bottom-order: 3;
    --form-text-bottom-flex: 1 1 auto;

    --form-text-top-font-size: 24px;
    --form-text-top-line-height: 48px;
  }
}
